VITE_API_URL=http://localhost:5000/api
VITE_SUPABASE_URL=ipddksbzcqhtumuekhtw
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwZGRrc2J6Y3FodHVtdWVraHR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMzYzODYsImV4cCI6MjA5MzkxMjM4Nn0.1ZFSU0rdfF83m9rDOADIg8W4tJo4YWQMZSj2RrK1YoM

VITE_RAZORPAY_KEY_ID=rzp_test_SnIavAyYIh71q0
