SUPABASE_URL=ipddksbzcqhtumuekhtw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwZGRrc2J6Y3FodHVtdWVraHR3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODMzNjM4NiwiZXhwIjoyMDkzOTEyMzg2fQ.AOx6j9-m5ugJI3abmSD51xbElYfhUapGDEky7zVsRt8
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwZGRrc2J6Y3FodHVtdWVraHR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMzYzODYsImV4cCI6MjA5MzkxMjM4Nn0.1ZFSU0rdfF83m9rDOADIg8W4tJo4YWQMZSj2RrK1YoM

CLOUDINARY_CLOUD_NAME=Ecommerce
CLOUDINARY_API_KEY=138598189418297
CLOUDINARY_API_SECRET=t2ZCGC4WyBuYud0ym18-1QrzMKM

RAZORPAY_KEY_ID=rzp_test_SnIavAyYIh71q0
RAZORPAY_KEY_SECRET=527rK7d7Zb65eLT5pQHzuS9

FRONTEND_URL=http://localhost:5173
